@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>



<AuthorizeView>
    <Authorized>
        <h1>You are logged in!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Please login</h1>        
    </NotAuthorized>
</AuthorizeView>