@page "/weather"
@using BitEvents.UI.Shared
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationState

<PageTitle>Weather</PageTitle>

<AuthorizeView>
    <Authorized>
        If you se this you are autorized
    </Authorized>
</AuthorizeView>

<p>This component demonstrates auth </p>

@code {
}